body {
    margin: 0;
    font-family: sans-serif;
    /*background-image: url("background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
    height: 700px;
}

nav {
    background-color: grey;
    width: 90%;
    padding: 15px;
    margin: auto;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    text-align: center;
}

.navlink {
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: black;
    -webkit-border-radius: 5px;
}

.navlink:hover {
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;

}

h2 {
    color: rgba(255, 204, 0, 1);
    text-transform: uppercase;
}

#container {
    width: 100%;
    text-align: center;
}

.filmimg {
    height: 317px;
    width: 214px;
    -webkit-border-radius: 10px;
    border: 2px solid white;
    margin: 0 2px 0 2px;
}

.imghover:hover {
    opacity: 0.3;
}

p {
    color: rgba(255, 204, 0, 0.6);
}

.right
{
    margin-right: 35%;
    float: right;
}

.left
{
    margin-left: 35%;
    float: left;
}


.sptabel
{
    display: inline-block;
    width: 150px;
    background-color: dimgray;
}