<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>RETRO VIDEO</title>
    <link rel="icon" th:href="@{/img/retrovideo.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<nav th:replace="fragments::nav(titel='MANDJE')"></nav>

<div id="container">
    <div>
        <div><div class="sptabel">Film</div><div class="sptabel">Prijs</div><div class="sptabel">verwijderen</div></div>
        <div th:each="film:${filmsInMandje}"><div class="sptabel"  th:text="${film.titel}"></div><div class="sptabel" th:text="${film.prijs}"></div><div class="sptabel">x</div></div>
    </div>

</div>

</body>


</html>