<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>video</title>
    <link rel="icon" th:href="@{/img/retrovideo.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<nav>
    <h1>RETRO VIDEO</h1>
    <a th:href="@{/}" class="navlink">Genres</a>
</nav>

<div id="container">
    <div class="left">
        <h2>BABE</h2>
        <img th:src="@{/img/8.jpg}" class="filmimg" alt="videoke"/>
    </div>

    <div class="right">
        <p>Prijs</p>
        <p>ooo</p>

        <p>Voorraad</p>
        <p>ooo</p>

        <p>Beschikbaar</p>
        <p>ooo</p>
    </div>
</div>

</body>

</html>